body {
    font-family: 'Roboto', sans-serif;
    background-color: black;
    }

nav img{
    width: 3rem;
        display: inline-block;     
}

.navbar {
    background-color: transparent  !important;
  }

h1{
    font-size: 1.5rem;
}

.seccion-2{
    display: inline-block;
}

.imagen {
    max-height: 150px;
    overflow-y: hidden;
  }

  footer i{
      color: white;
  }